a.menuItem {
  color: var(--foreground-hex);
  @apply mr-2 pt-2 no-underline;

  &:hover {
    color: var(--accent-hex);
  }

  &:first-child {
    @apply underline;
    color: var(--accent-hex);
  }
  &:last-child {
    @apply mr-10;
  }
}
