a.menuItem {
    color: var(--foreground-hex);
    text-decoration: none;
    @apply text-xl;
    @apply mr-4;


    &:hover {
        color: var(--accent-hex);
    }
    
    &:first-child {
        text-decoration: underline;
    }
}
