.helloSection {
  width: 100%;
  font-size: 16px;
}

.hello {
  font-weight: 500;
  line-height: 150%;
}

.description {
  font-weight: 500;
  line-height: 150%;
}

.cyan {
  color: #02e5f3;
}

.orange {
  color: #ff9f24;
}

.green {
  color: #03ea94;
}

.purple {
  color: #b400ff;
}

.circleImage {
  z-index: 0;
}

@media (max-width: 768px) {
  .circleImage {
    opacity: 0.5;
  }
}
