.background-image-dotted {
    background-image: url('../../../public/dotted_pattern.svg');
    /*background-size: cover;*/
    background-repeat: repeat-x;
}

.background {
    composes: background-image-dotted;
    @apply h-72 py-4;
}

img.logo {
    height:65px
}