.bannerContainer {
  @apply ml-6 pt-16;
}

.titleRight-structure {
  width: 37rem;
  @apply mr-8 w-auto leading-10 tracking-widest;
}

.titleRight-skin {
  color: var(--foreground-hex);
  @apply font-medium uppercase;
}

.titleRight {
  composes: titleRight-structure titleRight-skin;
}
